.wrapper {
  display: flex;
  width: 400px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  border: 1px solid #000;
  background: #1a1a1c;
}
.players {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.block {
  display: flex;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #000;
  font-weight: 700;
}

.link {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #202020;
  }
}
