.spin{
  display: flex;
  gap: 20px;
  &__item{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 5px;
    height: 80px;
    gap: 0;
    div{
      height: 80px;
    }
    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }
  }
}