.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 11;
  background-color: var(--board);
  padding: 10px;
  //border: 2px solid var(--bg);
}

.block {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 3px 5px;
  border-radius: 5px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.money:after {
  content: " ✦";
  color: var(--money-onboard);
}