.input{
  background: var(--background-input);
  padding: 13px 20px;
  border-radius: 5px;
  color: var(--color);
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.input::placeholder{
  color: var(--color-input);
}