.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  &:hover {
    background-color: #2b2b2d;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.danger {
  color: #f85149;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  &:hover {
    background: #230000;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
