.players {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.player {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
}

.avatar {
  border-radius: 5px;
}

.figure {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.playerName {
  flex: 1 1 auto;
  word-break: break-all;
}

.open {
  margin-top: 20px;
}
