.content{
  background: #1A1A1C;
  height: 100%; // работает же
  //min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

