.wrapper {
  max-width: 500px;
  padding: 10px;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.avatar {
  border-radius: 5px;
}

.playerName,
.balance {
  border-radius: 5px;
  background: #000;
  padding: 5px 10px;
}

.active {
  background: #000000;
}
