.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  display: flex;
  width: 400px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #272729;
  border: 1px solid #272729;
  &:focus {
    border: 1px solid white;
  }
  &::placeholder {
    color: #6a6a6a;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #1a1a1c;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    background-color: #202020;
  }
}
