.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--bg);
}

.container {
  max-width: 1200px;
  display: flex;
  gap: 40px;
  padding: 0 20px;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 350px;
  align-items: center;
}

.startDisabled {
  padding: 13px 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  color: var(--additive);
}

.startGame {
  padding: 13px 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  color: var(--opposite);

  &:hover {
    background: var(--hover);
  }
}

.players {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.deletePlayer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: var(--hover);
  }

  svg path {
    fill: var(--opposite);
  }
}

.onePlayer {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;

  span {
    flex: 1;
    overflow: clip;
  }
}

.photoPlayer {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.photoNull {
  width: 40px;
  height: 40px;
  background-color: var(--opposite);
  border-radius: 5px;
}

.playerSelected {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.subtitle {
  text-align: center;
  color: var(--additive);
}

.toggle {
  display: flex;
  gap: 1px;
  align-items: center;
  font-weight: bold;
}

.toggleButton {
  padding: 5px 3px;
  display: flex;
  gap: 3px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  color: var(--opposite);

  &:hover {
    background: var(--hover);
  }
}


.right {
  min-width: 500px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.block {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (max-height: 800px) {
  .block {
    height: 600px;
  }
}

.span {
  width: 100%;
  color: var(--additive);
  text-align: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 260px;
}

.oneCharacter {
  width: 50px;
  height: 50px;
  background-color: var(--board);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.disabledCharacter {
  width: 50px;
  height: 50px;
  background-color: var(--board);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.5;
}