.wrapper {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  gap: 20px;
}

.delete {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
