.wrapper {
  display: flex;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  width: 52px;
  background-color: black;
  align-self: stretch;
}
.danger {
  display: flex;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background: #230000;
  width: 74px;
  color: #f85149;
  align-self: stretch;
}
.ms {
  font-size: 10px;
  width: 18px;
}
.s {
  font-size: 12px;
}
