.wrapper {
  display: flex;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  width: 60px;
  background-color: black;
}
.danger {
  display: flex;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background: #230000;
  width: 80px;
  color: #f85149;
}
.ms {
  font-size: 10px;
}
