.block{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background: var(--background-button);
  user-select: none;
  &:hover{
    background: var(--hover-button);
  }
}