.block{
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--background-button);
  &:hover{
    background: var(--hover-button);
  }
}