.wrapper {
  display: flex;
  width: 300px;
  padding: 13px 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background-color: #272729;
  cursor: pointer;
  &:hover {
    background-color: #343436;
  }
}

.anim {
  animation: headShake 1s ease-in-out;
}

.value {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
