.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    background-color: #2b2b2d;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.danger {
  color: #f85149;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  svg {
    stroke: #f85149 !important;
  }
  &:hover {
    background: #230000;
  }
}
