:root{
  --background: #ffffff;
  --color: #000000;
  --color-title: rgba(0, 0, 0, 0.20);
  --color-subtitle: #838388;
  --color-input: #6A6A6A;
  --background-input: #CBCBD0;
  --background-button: #E1E1E7;
  --hover-button: #F1F1F1;
}