:root[data-theme='light'] {
  --accent: #f01e24;
  --hover: #f1f1f1;
  --input: #cbcbd0;
  --highlight: #e1e1e7;
  --money: #f01e24;
  --bg: #ffffff;
  --opposite: #000000;
  --board: #576574;
  --additive: #838388;
  --highlight-hover: #ccccd3;
  --color-onboard: #ffffff;
  --money-onboard: #00ffa3;
}

:root[data-theme='dark'] {
  --accent: #f01e24;
  --hover: #202020;
  --input: #272729;
  --highlight: #272729;
  --money: #00ffa3;
  --bg: #1a1a1c;
  --opposite: #ffffff;
  --board: #576574;
  --additive: #838388;
  --highlight-hover: #3a3a3e;
  --color-onboard: #ffffff;
  --money-onboard: #00ffa3;
}
