.start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 20px 0 0 0;
}

.prison {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 0 20px 0 0;
}

.parking {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 0 0 20px 0;
}


.police {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 0 0 0 20px;
}

.cellVer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  flex-direction: column;
  cursor: pointer;
  &:hover {
    background-color: var(--hover);
  }
  .cellTop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 20px;
    width: 100%;
    gap: 2px;
    &::after {
      content: "✦";
      color: var(--money);
    }

  }
}
.cellHor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  cursor: pointer;
  &:hover {
    background-color: var(--hover);
  }
  .cellTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    writing-mode: vertical-rl;
    height: 100%;
    width: 20px;
    font-size: 12px;
    &::after {
      content: " ✦";
      color: var(--money);
    }
  }
  .cellLeftWrapper {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cellLeft {
    display: flex;
    gap: 2px;
    transform: rotate(270deg);
    font-size: 12px;
    &::after {
      content: " ✦";
      color: var(--money);
    }
  }
}



.cellBottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.plug {
  width: 20px;
  height: 20px;
}