.start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 20px 0 0 0;
  cursor: pointer;
}

.prison {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 0 20px 0 0;
  cursor: pointer;
}

.parking {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 0 0 20px 0;
  cursor: pointer;
}


.police {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  border-radius: 0 0 0 20px;
  cursor: pointer;
}

.cellVer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  flex-direction: column;
  cursor: pointer;

  .cellTop {
    color: var(--color-onboard);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 20px;
    width: 100%;
    gap: 2px;
    &::after {
      content: "✦";
      color: var(--money-onboard);
    }

  }
}
.cellHor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--board);
  cursor: pointer;

  .cellTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    writing-mode: vertical-rl;
    height: 100%;
    width: 20px;
    font-size: 12px;
    color: var(--color-onboard);
    &::after {
      content: " ✦";
      color: var(--money-onboard);
    }
  }
  .cellLeftWrapper {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cellLeft {
    display: flex;
    gap: 2px;
    transform: rotate(270deg);
    font-size: 12px;
    color: var(--color-onboard);
    &::after {
      content: " ✦";
      color: var(--money-onboard);
    }
  }
}



.cellBottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.plug {
  width: 20px;
  height: 20px;
}