.openRooms{
  padding: 100px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item{
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    background-color: var(--highlight);
    padding: 10px;
    gap: 20px;
    justify-content: space-between;
    &-button{
      cursor: pointer;
      padding: 7px 5px;
      border-radius: 5px;
      &:hover {
        background-color: var(--highlight-hover);
      }
    }
  }
  &__players{
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }

  }

}

.players {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  width: 1000px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}