.openRooms{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__item{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--highlight);
    padding: 10px;
    gap: 20px;
    &-button{
      cursor: pointer;
    }
  }
  &__players{
    display: flex;
    align-items: center;
    gap: 10px;
  }

}