.cubic {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: var(--board);
  &__items {
    display: flex;
    gap: 20px;
    height: 80px;
  }
  &__button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background: var(--highlight);
  }
  .disabled {
    width: 0;
  }
  //значения в этих классах нужно изменить, я просто тестил
  svg rect:first-child {
    fill: var(--opposite);
  }
  svg rect:not(:first-child) {
    fill: var(--bg);
  }
}
