.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #1a1a1c;
  gap: 10px;
}

.avatar {
  border-radius: 5px;
  object-fit: fill;
}

.achievements {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.achieve {
  display: flex;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  border-radius: 5px;
  background: #000;
  .count {
    font-size: 12px;
  }
}
