.joinRoom{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &__input{
    border-radius: 5px;
    background: var(--input);
    font-size: 20px;
    font-weight: 500;
    color: var(--opposite);
    padding: 13px 20px;
    width: 410px;
  }
  &__input::placeholder{
    color: #6A6A6A;
  }
  &__button{
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background: var(--hover);
    }
  }
  svg path{
    fill: var(--opposite)
  }
}
