.wrapper {
  position: fixed;
  width: 300px;
  height: 500px;
  background: #000000;
  right: 0;
  transform: translateX(290px);
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.arrow {
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: 0.3s right;
}

.openWrapper {
  position: fixed;
  width: 300px;
  height: 500px;
  background: #000000;
  right: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.openArrow {
  transform: rotate(180deg);
  transition: 0.3s right;
  position: absolute;
  right: 320px;
  cursor: pointer;
}

.info {
  background: rgba(39, 39, 41, 1);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoTop {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.money {
  font-size: 12px;
  font-weight: 500;
  flex: 1 1 auto;
}

.date {
  color: rgba(106, 106, 106, 1);
  font-size: 10px;
}

.figure {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}
